* {
  margin: 0;
  padding: 0;
  border: 0px;
  transition: all 0.15s ease;
}
/*开始菜单*/
.fadeIn {
  animation: fadeIn 1ms;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeOut {
  animation: fadeOut 5s;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.start-button {
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  font: bold 12px/25px;
  background-color: #569824;
  color: #fff;
  border-radius: 30px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  transition: all 0.15s ease;
  opacity: .3;
}
.start-button:hover {
  opacity: 1;
}
.start-button:active {
  background-color: #9adc68;
  color: #000;
  box-shadow: none;
}
.menuArea {
  position: absolute;
  width: 130px;
  left: 0;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  transition: height .5s ease;
}
