* {
  margin: 0;
  padding: 0;
  border: 0px;
  transition: all 0.15s ease;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
.tab-header {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #f8f8f8;
  border: 1px solid #e1e1e8;
}
.tab-content {
  position: absolute;
  top: 51px;
  bottom: 42px;
  left: 0;
  right: 0;
}
.close {
  margin-left: 10px;
  margin-top: -2px;
  margin-right: -10px;
}
.fill {
  width: 100%;
  height: 100%;
}
