<!DOCTYPE html>
<html lang="zh" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>MIS</title>
    <link rel="stylesheet/less" type="text/css" href="index.less">
    <link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/latest/css/bootstrap.min.css">
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="http://lib.sinaapp.com/js/lesscss/1.3.3/less-1.3.3.min.js"></script>
    <script src="http://lib.sinaapp.com/js/bootstrap/latest/js/bootstrap.min.js"></script>
    <script src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular.min.js"></script>
</head>

<body>
    
        <menu-section></menu-section>
    <!--<div class="topbar"></div>
    <div class="leftbar">
    </div>-->
    <div class="main" ng-controller="tabController as tabs">
        <ul class="nav nav-tabs">
            <li ng-class="{active : tabs.curTabName == t.name}" ng-repeat="t in tabs.tabs">
                <a href="javascript:void(0)" ng-click="tabs.setCurTab(t.name)">{{ t.title }}</a>
            </li>
        </ul>
        
        
    </div>
    <script src="index.js"></script>
</body>

</html>